*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 1rem 1rem;
}
.box{
    height: 300px;
    width: 300px;

}
.box1{   
    background-color: black; 

}
.box2{    
    background-color: green;
}
.box3{    
    background-color: aqua;
}
.box4{    
    background-color:gold;
    
}
.box5{    
    background-color:brown;
    
}
.box6{    
    background-color:blue;

}